<div class="foooter">
    <div class="container foooter-container">
        <div class="footerPart">
            <h1>GET IN TOUCH</h1>
            <div class="footPartContent">
                <i class="fa fa-envelope"></i>
                <p>Ahmedmismail39@gmail.com</p>
            </div>
            <div class="footPartContent">
                <i class="fa fa-id-card"></i>
                <p>01069780368</p>
            </div>
        </div>
        <div class="footerPart">
            <a href="../../index.html" class="btn btn-dark" download="Ahmed Mostafa's CV">Download Resume</a>
        </div>
        <div class="footerPart">
            <div class="footerPartIcons">
                <a href="./https://www.linkedin.com/in/ahmed-mostafa-ismail333/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="./https://www.facebook.com/elprince.a.mostafa/" target="_blank"><i class="fa fa-facebook"></i></a>
                <i class="fa fa-twitter"></i>
            </div>
            
            <p>Copyright <i class="fa fa-copyright"></i> 2023 EG</p>
        </div>
    </div>
</div>