<div class="about-us container">
    <div class="left-about">
        <h1>About me</h1>
    </div>
    <div class="right-about">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia iste eaque cupiditate, modi ratione minima
            iusto esse unde repudiandae velit enim, possimus ab omnis sunt itaque nesciunt eveniet asperiores alias
            beatae vitae assumenda recusandae. Maiores nisi numquam consequuntur provident at, modi ullam porro omnis
            nam soluta nostrum iure quam molestias praesentium id quod ad amet sit aperiam doloribus quae
            necessitatibus.</p>
        <button href="../../index.html" class="btn btn-dark" download="Ahmed Mostafa's CV">Download Resume</button>
    </div>
</div>