<div class="container portfolio">
    <h1>Portfolio</h1>
    <div class="portfolio-cards container">
        <div class="portfolio-card" *ngFor="let con of content; let i = index;">
            <div class="portfolio-card-content">
                <!-- <p>WEB DESIGN</p> -->
                <app-portfolio-content [con]="con"></app-portfolio-content>
                <!-- <div *ngIf="i<3;"> -->
                      <hr *ngIf="i<3;">
                <!-- </div> -->
            </div>
        </div>
        <!-- <div class="portfolio-card">
                <div class="portfolio-card-content">
                    <p>MOBILE DESIGN</p>
                    <hr>
                </div>
            </div>
            <div class="portfolio-card">
                <div class="portfolio-card-content">
                    <p>LOGO DESIGN</p>
                    <hr>
                </div>
            </div> -->
        <!-- <div class="portfolio-card">
                <div class="portfolio-card-content">
                    <p>WEB APPLICATION DEVELOPMENT</p>
                </div>
            </div>
            <div class="portfolio-card">
                <div class="portfolio-card-content">
                    <p>MOBLIE APPLICATION DEVELOPMENT</p>
                </div>
            </div>
            <div class="portfolio-card">
                <div class="portfolio-card-content">
                    <p>PWA DEVELOPMENT</p>
                </div>
            </div> -->
    </div>
</div>