<div class="skills">
    <div class="skills container">
        <div class="skills-right">
            <h1>Skills</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis suscipit officiis assumenda rerum id vel,
                repudiandae recusandae asperiores exercitationem quo nobis magni enim corrupti quod officia. Dolorum
                omnis
                laudantium quam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis molestias explicabo
                nostrum
                laboriosam a eligendi facilis odio natus dolorem rerum sunt voluptatum, similique pariatur dolorum
                nobis.
                Laboriosam iste natus ipsam provident expedita vitae, cumque ad distinctio necessitatibus numquam
                facilis
                repudiandae ut facere quod recusandae impedit asperiores similique sequi. Repellat, tempora.</p>
        </div>
        <div class="skills-content container">
            <div class="row skills-content-child">
                <div class="skills-content-left">
                    <p>My Focus</p>
                    <hr>
                    <p>Responsive Design</p>
                    <p>Web Design</p>
                    <p>Mobile App Design</p>
                    <p>UI/UX Design</p>
                </div>

                <div class="skills-content-right">
                    <div class="left">
                        <p *ngFor="let skill of skillnames;">
                            <app-skill-name [skillname]="skill"></app-skill-name>
                        </p>
                    </div>
                    <div class="right">
                        
                        <div class="progress" *ngFor="let myWidth of width">
                            <div class="progress-bar bg-success" [ngStyle]="{'width': myWidth}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>